data/*
output/*
models/*
week01_Introduction/.ipynb_checkpoints/*
week02_Experiment_tracking_and_model_management/.ipynb_checkpoints/*
week02_Experiment_tracking_and_model_management/models/*
week02_Experiment_tracking_and_model_management/mlflow/*
week02_Experiment_tracking_and_model_management/mlruns/*
week02_Experiment_tracking_and_model_management/mlruns.db
week02_Experiment_tracking_and_model_management/output/*
week02_Experiment_tracking_and_model_management/artifacts/*
week02_Experiment_tracking_and_model_management/preprocessor/*
week02_Experiment_tracking_and_model_management/running-mlflow-examples/artifacts/*
week02_Experiment_tracking_and_model_management/running-mlflow-examples/mlruns/*
week02_Experiment_tracking_and_model_management/running-mlflow-examples/backend.db
week02_Experiment_tracking_and_model_management/running-mlflow-examples/.ipynb_checkpoints/*
week03_Orchestration_and_ML_Pipelines/.ipynb_checkpoints/
week03_Orchestration_and_ML_Pipelines/mlruns.db
week03_Orchestration_and_ML_Pipelines/mlruns/*
week03_Orchestration_and_ML_Pipelines/mlflow.db
week03_Orchestration_and_ML_Pipelines/homework/.ipynb_checkpoints/*
week04_Model_Deployment/.ipynb_checkpoints/*
week04_Model_Deployment/mlruns/*
week04_Model_Deployment/web-service-mlflow/mlruns/*
week04_Model_Deployment/mlruns.db
week04_Model_Deployment/web-service-mlflow/mlruns.db
week04_Model_Deployment/web-service/__pycache__/*
week04_Model_Deployment/web-service/lin_reg.bin
week04_Model_Deployment/batch/mlruns/*
week04_Model_Deployment/batch/mlruns.db
week04_Model_Deployment/web-service-mlflow/.ipynb_checkpoints/*
