data/*
models/*
week01/.ipynb_checkpoints/*
week02/.ipynb_checkpoints/*
week02/models/*
week02/mlflow/*
week02/mlruns/*
week02/mlruns.db
week02/output/*
week02/artifacts/*
week02/preprocessor/*
week02/running-mlflow-examples/artifacts/*
week02/running-mlflow-examples/mlruns/*
week02/running-mlflow-examples/backend.db
week02/running-mlflow-examples/.ipynb_checkpoints/*
week03/.ipynb_checkpoints/
week03/mlruns.db
week03/mlruns/

