data/*
output/*
models/*
01-intro/.ipynb_checkpoints/*
02-experiment-tracking/.ipynb_checkpoints/*
02-experiment-tracking/models/*
02-experiment-tracking/mlflow/*
02-experiment-tracking/mlruns/*
02-experiment-tracking/mlruns.db
02-experiment-tracking/output/*
02-experiment-tracking/artifacts/*
02-experiment-tracking/preprocessor/*
02-experiment-tracking/running-mlflow-examples/artifacts/*
02-experiment-tracking/running-mlflow-examples/mlruns/*
02-experiment-tracking/running-mlflow-examples/backend.db
02-experiment-tracking/running-mlflow-examples/.ipynb_checkpoints/*
03-orchestration/.ipynb_checkpoints/
03-orchestration/mlruns.db
03-orchestration/mlruns/*
03-orchestration/mlflow.db
03-orchestration/homework/.ipynb_checkpoints/*
04-deployment/.ipynb_checkpoints/*
04-deployment/mlruns/*
04-deployment/web-service-mlflow/mlruns/*
04-deployment/mlruns.db
04-deployment/web-service-mlflow/mlruns.db
04-deployment/web-service/__pycache__/*
04-deployment/web-service/lin_reg.bin
04-deployment/batch/mlruns/*
04-deployment/batch/mlruns.db
04-deployment/web-service-mlflow/.ipynb_checkpoints/*
04-deployment/homework/.ipynb_checkpoints/*
04-deployment/homework/model.bin
04-deployment/batch/tmp/
/home/frauke/ml-ops-zoomcamp/week04_Model_Deployment/batch/tmp/*
/home/frauke/ml-ops-zoomcamp/week05_Monitoring/prediction_service/lin_reg.bin
/home/frauke/ml-ops-zoomcamp/week05_Monitoring/evidently_service/datasets/*
05_monitoring/venv/*
05_monitoring/green_tripdata_2022-01.parquet
05_monitoring/prediction_service/lin_reg.bin
05_monitoring/evidently_service/datasets/*
05-monitoring/venv/*
05-monitoring/target.csv
05-monitoring/.ipynb_checkpoints/*
06-best-practices/code/integraton-test/model/*
06-best-practices/.vscode/*
06-best-practices/homework/.ipynb_checkpoints/*
