[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.0.1"
xgboost = "==1.6.1"
mlflow = "*"
gunicorn = "*"
requests = "~=2.26.0"
scikit-learn = "==1.0.2"
pandas = ">=1.1.5"
psutil = "==5.9.1"
typing-extensions = "==4.1.1"
pymongo = "*"
dataclasses = "==0.6"
werkzeug = "~=2.0.1"
prometheus-client = "~=0.11.0"
pyyaml = "~=5.4.1"
tqdm = "*"
pyarrow = "*"
prefect = "==2.0b5"
evidently = "*"
optuna = "*"

[dev-packages]
pytest = "*"
deepdiff = "*"
pylist = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
